<div class="container">
  <h3>Blood Pressure Dashboard</h3>
  <app-bpm-period (selectPeriod)="handlePeriod($event)">
  </app-bpm-period>
  <app-bpm-stats [records]="getRecords()">
  </app-bpm-stats>
  <app-bpm-table [records]="getRecords()" [period]="getPeriod()">
  </app-bpm-table>
  <div>
    <pager
      [totalItems]="maxItemNumber()"
      [itemsPerPage]="getMaxRowNumber()"
      [(ngModel)]="pageNumber"
      (pageChanged)="pageChanged($event)"
      pageBtnClass="btn"
      align="false">
    </pager>
  </div>
</div>
