<div>
  <table *ngIf="!isEmpty()" class="table table-sm">
    <thead>
    <tr class="text-center thead-light">
      <th>Time</th>
      <th>Sys</th>
      <th>Dia</th>
      <th>BPM</th>
      <th>ECG</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let heart of records">
      <td class="text-center" *ngIf="!isValidDate(heart.timestamp)" >NA in {{ heart.nextRecInDays }} day(s)</td>
      <td class="text-center" *ngIf="isValidDate(heart.timestamp)">
        <span [class]="getMeasureTimeCellClass(heart.timestamp)" >{{ heart.timestamp * 1000 | date:'yy-MM-dd HH:mm'}}</span>
      </td>
      <td class="text-center">
        <span *ngIf="heart.systole > 0" [class]="getSystolicCellClass(heart.systole)">{{ heart.systole }}</span>
      </td>
      <td class="text-center">
        <span *ngIf="heart.diastole > 0" [class]="getDiastolicCellClass(heart.diastole)">{{ heart.diastole }}</span>
      </td>
      <td class="text-center">
        <span *ngIf="heart.heartRate > 0">{{heart.heartRate}}</span>
      </td>
      <td class="text-center">
        <span *ngIf="heart.signalId > 0">ECG</span>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="isEmpty()">
    <h4>No data in the given period</h4>
  </div>
</div>
